<html>
<head>
    <title>AnoMe - Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.jpg') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-xs-12 col-md-8 col-lg-6" action="{{ login_url }}" method="post">
            <div class="col-12" align="center">
                <a href="/" class="navbar-brand" style="color:#6667AB"><h1><b>AnoMe</b></h1></a>
                <br><br>
            </div>
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="input-group input-group-lg">
                <input type="password" class="form-control" placeholder="{{i18n_t['admin password']}}" name="password"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-dark">{{i18n_t['login']}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>