<html>
<head>
    <title>AnoMe - Secret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <a href="https://github.com/CyrusF/AnoMe" target="_blank" class="github-corner" aria-label="View source on GitHub">
        <svg width="80" height="80" viewBox="0 0 250 250"
             style="fill:#A0AACC; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                  fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                  fill="currentColor" class="octo-body"></path>
        </svg>
    </a>
    <style>
        .github-corner:hover .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }

        @keyframes octocat-wave {
            0%, 100% {
                transform: rotate(0)
            }
            20%, 60% {
                transform: rotate(-25deg)
            }
            40%, 80% {
                transform: rotate(10deg)
            }
        }

        @media (max-width: 500px) {
            .github-corner:hover .octo-arm {
                animation: none
            }

            .github-corner .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
        }


    </style>
    <br>
    <br>
    <div class="row" align="center">
        <p class="col-12 text-white" style="background:#A0AACC">
            <b class="text-warning">Ano</b>ther <b class="text-warning">Me</b> here, wait for your asking.
        </p>
    </div>
    <div class="row justify-content-center align-items-center">
        <a href="/" class="navbar-brand" style="color:#6667AB"><h1><b>AnoMe</b></h1></a>
    </div>
    <div class="row justify-content-center align-items-center">
        <div align="center">
            <x class="col-2"></x>
            <a class="col-3" style="color:#7778BC" href="/secret"><b>{{i18n_t['find secret']}}</b></a>
            <x class="col-2">|</x>
            <a class="col-3" style="color:#7778BC" href="/admin"><b>{{i18n_t['find secret']}}</b></a>
            <x class="col-2"></x>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row justify-content-center align-items-center">
        <form class="col-md-12 col-lg-8" action="/secret" method="get">
            <div class="input-group input-group">
                <input type="text" class="form-control" placeholder="{{i18n_t['already asked']}}" name="s"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn btn-dark">{{i18n_t['show secret']}}</button>
                </div>
            </div>
            {% if secret_error %}
            <br>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ secret_error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </form>
    </div>
    {% if question %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-lg-8">
            <div class="card bg-dark">
                <div class="card-header" align="center" style="background:#D7DDEE">
                    <h5 class="card-title">{{question}}</h5>
                </div>
                <div class="card-body" style="background:#FFF">
                    {% if answer %}
                    <p class="card-text">{{answer}}</p>
                    {% else %}
                    <p class="card-text text-muted"><i>{{i18n_t['no answer secret']}}</i></p>
                    {% endif %}
                    {% if timestamp_str %}
                    <div align="right">
                        <footer class="blockquote-footer">{{timestamp_str}}</footer>
                    </div>
                    {% endif %}
                    <div align="right">
                        <code id="qa_{{qa_id}}">
                            {{likes}}
                            <i class="bi bi-heart" onclick="javascript:like({{qa_id}});"></i>
                        </code>
                    </div>
                    <hr>
                    <div align="center">
                        <span class="badge badge-pill badge-secondary" style="background:#A0AACC">{{secret}}</span>
                        <span class="badge badge-pill badge-secondary" style="background:#A0AACC">{{is_public}}</span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function like(qa_id) {
                var ajaxObj = new XMLHttpRequest();
                ajaxObj.open('get', 'like?q=' + qa_id);
                ajaxObj.send();
                ajaxObj.onreadystatechange = function () {
                    if (ajaxObj.readyState == 4 && ajaxObj.status == 200) {
                        var btn = document.getElementById('qa_' + qa_id);
                        btn.innerHTML = ajaxObj.responseText + ' <i class="bi bi-heart-fill" onclick="javascript:unlike(' + qa_id + ');"></i>'
                    }
                }
            }

            function unlike(qa_id) {
                var ajaxObj = new XMLHttpRequest();
                ajaxObj.open('get', 'like?q=' + qa_id + '&op=0');
                ajaxObj.send();
                ajaxObj.onreadystatechange = function () {
                    if (ajaxObj.readyState == 4 && ajaxObj.status == 200) {
                        var btn = document.getElementById('qa_' + qa_id);
                        btn.innerHTML = ajaxObj.responseText + ' <i class="bi bi-heart" onclick="javascript:like(' + qa_id + ');"></i>'
                    }
                }
            }
        </script>
    </div>
    {% endif %}
</div>
</body>
</html>