<html>
<head>
    <title>AnoMe - Secret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <br>
    <div class="row" align="center">
        <p class="col-12 text-white" style="background:#A0AACC">
            <b class="text-warning">Ano</b>ther <b class="text-warning">Me</b> here, wait for your asking.
        </p>
    </div>
    <div class="row justify-content-center align-items-center">
        <a href="/" class="navbar-brand" style="color:#6667AB"><h1><b>AnoMe</b></h1></a>
    </div>
    <div class="row justify-content-center align-items-center">
        <div align="center">
            <x class="col-2"></x>
            <a class="col-3" style="color:#7778BC" href="/secret"><b>FIND&nbsp;&nbsp;SECRET</b></a>
            <x class="col-2">|</x>
            <a class="col-3" style="color:#7778BC" href="/admin"><b>ANSWER(admin)</b></a>
            <x class="col-2"></x>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row justify-content-center align-items-center">
        <form class="col-md-12 col-lg-8" action="/secret" method="get">
            <div class="input-group input-group">
                <input type="text" class="form-control" placeholder="Already asked? Give me secret code." name="s"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn btn-dark">Show secret</button>
                </div>
            </div>
            {% if secret_error %}
            <br>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ secret_error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        </form>
    </div>
    {% if question %}
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12 col-lg-8">
            <div class="card bg-dark">
                <div class="card-header" align="center" style="background:#D7DDEE">
                    <h5 class="card-title">{{question}}</h5>
                </div>
                <div class="card-body" style="background:#FFF">
                    {% if answer %}
                    <p class="card-text">{{answer}}</p>
                    {% else %}
                    <p class="card-text text-muted"><i>No answer now ... wait a moment ?</i></p>
                    {% endif %}
                    {% if timestamp_str %}
                    <div align="right">
                        <footer class="blockquote-footer">{{timestamp_str}}</footer>
                    </div>
                    {% endif %}
                    <hr>
                    <div align="center">
                        <span class="badge badge-pill badge-secondary" style="background:#A0AACC">{{secret}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>